<% content_for :name, "Add a new team" %>

<section class="team-form">

  <%= semantic_form_for @team do |f| %>
    <%= f.input :name %>
    <%= f.actions do %>
      <%= f.action :submit, button_html: { class: 'submit-form' } %>
      <%= f.action :cancel, label: "go back" %>
    <% end %>
  <% end %>

</section>
