<% content_for :head_title, @mission.name %>

<section class="mission">
  <header>
    <div class="mission-patch">
      <% if @mission.mission_patch.present? %>
        <%= link_to @mission.mission_patch.url do %>
          <%= image_tag @mission.mission_patch.thumb.url %>
        <% end %>
      <% end %>
    </div>

    <h1><%= @mission.name %></h1>
    <div class="metadata">
      <% if @mission.team.present? %>
        <span><%= @mission.team.name %></span>
      <% end %>
      <span><%= @mission.state.humanize.downcase %></span>
    </div>

  </header>

  <article>
    <div class="information">
      <% if @mission.short_description.present? %>
        <%= simple_format @mission.short_description %>
      <% else %>
        <p class="missing">
          There's no description for this mission yet.
          <%= link_to "Add one?", edit_mission_path(@mission) %>
        </p>
      <% end %>

      <% if @mission.links.any? %>
        <div class="links">
          <h2>Where we've written about this</h2>
          <ul>
            <% @mission.links.each do |link| %>
              <li><%= link_to (link.title.present? ? link.title : link.url), link.url %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>

    <ul class="actions">
      <li><%= link_to "Edit mission", edit_mission_path(@mission) %></li>
      <% if @mission.in_progress? %>
        <li><%= link_to "Mark as completed", complete_mission_path(@mission),
                                  method: :put %></li>
      <% end %>
    </ul>
  </article>
</section>
