<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>

  <%= stylesheet_link_tag    'application', media: 'screen' %>
  <%= stylesheet_link_tag    'print', media: 'print' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container-fluid">
    <header class="primary">
      <h1><%= link_to "GDS Missions", root_path %></h1>
    </header>

    <div class="content">
      <% if flash.any? %>
        <% flash.each do |key, message| %>
          <div class="flash flash-<%= key %>"><%= message %></div>
        <% end %>
      <% end %>

      <% if content_for?(:title) %>
        <h1 class="page-title"><%= content_for(:title) %></h1>
      <% end %>

      <%= yield %>
    </div>
  </div>
</body>
</html>
